<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" [class.show]="isMenuOpen">
      <ul class="navbar-nav w-100 justify-content-center">
        @if(roleId == null || roleId == 2){
          <li class="nav-item">
            <a class="nav-link" aria-current="true" href="#">
              <i class="pi pi-home"></i>
              <span class="nav-text">Trang chủ</span>
            </a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/Intro']">
              <i class="pi pi-info-circle"></i>
              <span class="nav-text">Giới thiệu</span>
            </a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/news']">
              <i class="pi pi-newspaper"></i>
              <span class="nav-text">Tin tức</span>
            </a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/contact']">
              <i class="pi pi-phone"></i>
              <span class="nav-text">Liên hệ</span>
            </a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/allProduct']">
              <i class="pi pi-th-large"></i>
              <span class="nav-text">Tất cả sản phẩm</span>
            </a>
          </li>
        } @else if (roleId == 1) {
          <li class="nav-item">
            <a class="nav-link" aria-current="true" href="">
              <i class="pi pi-home"></i>
              <span class="nav-text">Trang chủ</span>
            </a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/news']">
              <i class="pi pi-newspaper"></i>
              <span class="nav-text">Tin tức</span>
            </a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/contact']">
              <i class="pi pi-phone"></i>
              <span class="nav-text">Liên hệ</span>
            </a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/allProduct']">
              <i class="pi pi-th-large"></i>
              <span class="nav-text">Tất cả sản phẩm</span>
            </a>
          </li>
        } @else {}
      </ul>
    </div>
  </div>
</nav>