<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" [class.show]="isMenuOpen">
      <ul class="navbar-nav w-100 justify-content-center">
        @if(roleId == 1 || !roleId){
          <li class="nav-item">
            <a class="nav-link" aria-current="true" href="#">TRANG CHỦ</a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/Intro']">GIỚI THIỆU</a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/news']">TIN TỨC</a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/contact']">LIÊN HỆ</a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/allProduct']">TẤT CẢ SẢN PHẨM</a>
          </li>
        } @else if (roleId == 2) {
          <li class="nav-item">
            <a class="nav-link" aria-current="true" href="#">
              <span class="nav-text">TRANG CHỦ</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/admin/dashboard']">
              <span class="nav-text">DASHBOARD</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/userManage']">
              <span class="nav-text">NGƯỜI DÙNG</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/orderManage']">
              <span class="nav-text">ĐƠN HÀNG</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/reviewManage']">
              <span class="nav-text">QUẢN LÝ ĐÁNH GIÁ</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/productManage']">
              <span class="nav-text">QUẢN LÝ SP</span>
            </a>
          </li>

          

          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/categoryManage']">
              <span class="nav-text">DANH MỤC</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/voucherManage']">
              <span class="nav-text">VOUCHER</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/newsManage']">
              <span class="nav-text">TIN TỨC</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/bannerManage']">
              <span class="nav-text">BANNER</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/admin/features']">
              <span class="nav-text">CHỨC NĂNG</span>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/admin/returns']">
              <span class="nav-text">TRẢ HÀNG</span>
            </a>
          </li>
          
          
        } @else if (roleId == 3) {
          <li class="nav-item">
            <a class="nav-link" aria-current="true" [routerLink]="['/Home']">
              <span class="nav-text">TRANG CHỦ</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/orderManage']">
              <span class="nav-text">ĐƠN HÀNG LẮP ĐẶT HỎA TỐC</span>
            </a>
          </li>
        } @else {}
      </ul>
    </div>
  </div>
</nav>